/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
}


h1 {
  font-size: 2rem;
  font-weight: 800;
}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* body */

